<section class="footer" style="background-color: #500000;">
    <div class="container">
        <h2 class="is-uppercase has-text-weight-bold has-text-light">Swimmin' Upstream, 2020</h2>
    </div>
</section>