<section class="hero" style="background-color: #500000;">
    <div class="hero-body">
        <div class="container">
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="/images/logo-sm.png" alt="logo" style="width: 128px;">
                    </p>
                </figure>
                <div class="media-content">
                    <h1 class="is-size-2 is-uppercase has-text-weight-bold has-text-light">DiscWolf</h1>
                </div>
            </article>
        </div>
    </div>
</section>