<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="Matt Salmon <matt_salmon@hotmail.com>, Bobby Hines <bobbyahines@gmail.com>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
{#    <link rel="shortcut icon" href="">#}
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>

{% include '/Header.twig' %}

{% block body %}{% endblock %}

{% include '/Footer.twig' %}

{% block scripts %}{% endblock %}

</body>
</html>